* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
body {
	font-family: "poppinslight";
	font-size: 17px;
	overflow-x: hidden;
}
a{
	color: #fff;
    text-decoration: none;
    font-family:"poppinslight" ;
}
a:hover{
    text-decoration: underline;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.2);
}
img{
    display: block;
    width: 100%;
}
p{
	line-height:1.6em;
	font-size: 18px;
	font-family:"poppinslight";
	color: #000;
}
img{
    width: 100%;
    display: block;
}
h1,h3,h2{
    font-size: 45px;
    font-family:"poppinsbold" ;
}


@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Styling the #home section */

#home { 
    overflow: hidden;
    background: blue;
    background-image: url(../image/spot1.svg), url(../image/spot2.svg), url(../image/starpink.svg), url(../image/starpink.svg), url(../image/starpink.svg), url(../image/starpink.svg);
    background-repeat: no-repeat;
    background-position: left bottom, right bottom,left center,right center,center top,bottom center; 
    background-size: 500px 256px,466px 272px;
    height: 90vh;
}
#home .wrapper header { 
    width: 100%;
    height: 100px;
    margin: 0 auto;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative; 
    z-index: 10; 
}
#home .wrapper header .left { 
    width: 10%;
}
#home .wrapper header .left a{ 
    width:100%;
    display: block;
}
#home .wrapper header .middle ul { 
    display: flex;
    align-items: center;
}
#home .wrapper header .middle ul li {
    margin-right: 35px;   
}
#home .wrapper header .middle ul li:last-child{
    margin-right: 0px; 
}
#home .wrapper header .middle ul li a.button { 
    display: none; 
}
#home .wrapper header .middle ul li a.button { 
    border: 1px solid #fff;
    padding: 3px 20px;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    transition: color 0.3s, box-shadow 0.3s;
    width: 80%;
    margin-left: 45px;
    text-decoration: none;
}
#home .wrapper header .right .button { 
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    transition:color 0.3s, box-shadow 0.3s;   
}
#home .wrapper header .right .button:hover{
    color:#404eed;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-left: 550px;
    cursor: pointer;
    display: none; 
}
#check{
    display: none; 
}

/* Styling the spotlight section within the #home section */

#home .wrapper #spotlight { 
    text-align: center;
    margin-top: 10%;  
}
#home .wrapper #spotlight h1 { 
    font-size: 5rem;
    color: #fff;
}
#home .wrapper #spotlight p { 
    margin: 20px auto;
    color: #fff;
    width: 80%;
}
#home .wrapper #spotlight ul { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
#home .wrapper #spotlight ul li.white .button { 
    padding: 15px 25px;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    color: #000;
    cursor: pointer;
    transition:color 0.3s, box-shadow 0.3s;
    display: inline-block;
}
#home .wrapper #spotlight ul li.white .button:hover{
    color: #404eed;
    text-decoration: none;
}
.fa-download{
    margin-right: 1em;
}
#home .wrapper #spotlight ul li.black .button{
    padding: 15px 25px;
    background-color: #000;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    transition:color 0.3s, box-shadow 0.3s;
    display: inline-block;
}
#home .wrapper #spotlight ul li.black .button:hover{
    background-color: #363131;
    text-decoration: none;
}

/* Styling the #feature section */

#feature .content-item .wrapper{ 
   display: flex;
   justify-content: space-between;
   padding: 130px 0;
   gap: 3em;
}
#feature .content-item .content  { 
    width: 65%;
    padding: 75px 0;
}
#feature .content-item .content h3{
    margin-bottom: 1rem;
}
#feature .content-item.bg { 
    background-color: #f6f6f6;
}

/* Styling the #about section */

#about { 
    background-color: #f6f6f6;
    padding: 130px 0;
}
#about .wrapper .start { 
    text-align: center;
}
#about .wrapper .start p { 
    margin: 20px auto;
    width: 80%;
}
#about .wrapper .end { 
    background-image: url(../image/starpink.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:2em;
    margin-top: 20px;
}
#about .wrapper .end h2 { 
    font-size: 35px;
}
#about .wrapper .end .button { 
    padding: 15px 25px;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    transition:color 0.3s, box-shadow 0.3s;
    background-color: #404eed;
}

/* Styling the #footer section */

footer { 
    background-color: #000;
    padding: 100px 0 0 0;
    min-height: 100vh;
}

footer .wrapper .top { 
    display: flex;
    justify-content: space-between;
    padding-bottom: 140px;
    border-bottom: 1px solid #404eed; 
}
.dropdown {
    position: relative;
    margin-bottom: 35px;
    min-width: 215px;
}
.dropdown .dropbtn {
    background-color: #23272a;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 50px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 215px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 5px 5px;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;  
}
.dropdown-content img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  vertical-align: middle;
}
button.dropbtn img{
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}
footer .wrapper .top .top-left { 
    min-width: 20%; 
}
footer .wrapper .top .top-left .dropdown .dropbtn .fas { 
    display: block;
    width: 35%;
    margin-left: 15px;
}
footer .wrapper .top .top-left .medias ul { 
    display: flex;
}
footer .wrapper .top .top-left .medias ul li {
    margin-right: 31px;
}
footer .wrapper .top .top-left .medias ul li:last-child{
    margin-right: 0px;
}
footer .top-right .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer .top-right .link-boxes .box{
    width: calc(100% / 4 - 10px);
}
.top-right .link-boxes .box .link_name{
    color: #404eed;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
.top-right .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
}
.top-right .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.8;
    transition: all 0.4s ease
}
.top-right .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
}
.footer-bottom { 
    max-width: 1250px;
    margin: auto;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
}
.footer-bottom .footer-bottom-left { 
    width: 15%;
}
.footer-bottom .footer-bottom-right .button { 
    border: 1px solid #404eed;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #404eed;
    color: #fff;
    transition: color 0.3s, box-shadow 0.3s;
    width: 80%;
}

/* media queries */

@media screen and (max-width: 1440px){
    #home .wrapper #spotlight{
        margin-top: 4%;
    }
}

@media screen and (max-width: 1080px){
    #home .wrapper header .left {
        width: 15%;
    }
      #home .wrapper header .middle ul li {
     margin-right: 20px;
    }
    #home { 
        background-image: none;
        background-image:  url(../image/starpink.svg), url(../image/starpink.svg), url(../image/starpink.svg), url(../image/starpink.svg);
        background-repeat: no-repeat;
        background-position: left center,right center,center top,bottom center; 
    }
}
    
@media screen and (max-width: 980px){
    #home{
        background-image: none;
        background-image:  url(../image/spot1.svg),url(../image/starpink.svg), url(../image/starpink.svg), url(../image/starpink.svg), url(../image/starpink.svg);
        background-repeat: no-repeat;
        background-position: bottom right, center,right center,center top,bottom center;
        background-size: 500px 256px;
        height: 100vh;
    } 
    #home .wrapper header{
        position:fixed;
        padding: 10px 40px;
        top: 0;
        left: 0;
        right: 0;
        background-color: blue;
    }
    #home .wrapper #spotlight{
        background-position: right bottom;
    }
    .checkbtn{
        display: block;
        margin-left: 430px;
    }
    .middle ul{
        position: fixed;
        width: 100%;
        height: 90vh;
        background: blue;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 10; 
        flex-direction: column;
    }
    .middle ul li{
        display: block;
        margin: 20px 0;
        line-height: 28px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #home .wrapper #spotlight { 
        margin-top: 20%;
        text-align: start;
    }
    #home .wrapper #spotlight h1 {
        font-size: 4rem;
    }
    #home .wrapper #spotlight  p{
        font-size: 16px;
        margin: 20px 0;
    }
    #home .wrapper #spotlight ul{
        flex-direction: column;
        align-items: flex-start;
    }
    #feature .content-item .wrapper{ 
        flex-direction: column;
     }
     #feature .content-item .content  { 
        width: 100%;
    }
    #about .wrapper .start {
        text-align: start;
    }
    #about .wrapper .start p {
        margin: 20px 0;
        width: 100%;
    }
    footer .wrapper .top{
        flex-direction: column;
    }
    footer .wrapper .top .top-left{
        margin-bottom: 40px;
    }
}


@media screen and (max-width: 768px){
    .checkbtn{
        margin-left: 290px;
    }
    #home .wrapper header .left {
        width: 22%;
    }
}


@media screen and (max-width: 640px){
    #home{
        background-image: none;
        background-image: url(../image/starpink.svg), url(../image/starpink.svg), url(../image/starpink.svg);
        background-repeat: no-repeat;
        background-position: left center,bottom right,center top;
    }
    #home .wrapper header .left {
        width: 28%;
    }
    .checkbtn {
        margin-left: 190px;
    }
    #home .wrapper #spotlight{
        margin-top: 35%;
    }
    #home .wrapper #spotlight h1 {
        font-size: 3rem;
    }
    #home .wrapper #spotlight ul li.black .button {
        padding: 15px 80px;
    }
    #home .wrapper #spotlight ul li.white .button {
        padding: 15px 60px
    }
    #home .wrapper #spotlight ul{
        align-items: center;
    }
    #about .wrapper .end h2 {
        font-size: 28px;
    }
    footer .top-right .link-boxes .box {
        width: calc(100% / 2 - 10px);
    }
    footer .top-right .link-boxes{
        flex-wrap: wrap;
    }
    .footer-bottom .footer-bottom-left {
        width: 20%;
    }
}


@media screen and (max-width: 540px){
    .checkbtn {
        margin-left: 115px;
    }
    #home .wrapper #spotlight  h1 {
        font-size: 45px;
    }
    #home .wrapper #spotlight ul {
        align-items: flex-start;
    }
    #home .wrapper #spotlight ul li.black .button {
        padding: 15px 25px;
    }
    #home .wrapper #spotlight ul li.white .button {
        padding: 15px 25px;
    }
}


@media screen and (max-width: 480px){
    #home .wrapper header .right {
        display: none;
    }
    #home .wrapper header .middle ul li a.button { 
        display: block; 
    }
    #home .wrapper header .left {
        width: 40%;
    }
    #home .wrapper #spotlight p {
        font-size: 14px;
    }
    #home .wrapper #spotlight ul li.black .button {
        padding: 15px 20px;
        font-size: 13px;
    }
    #home .wrapper #spotlight ul li.white .button {
        padding: 15px 20px;
        font-size: 13px;
    }
    h3{
        font-size: 32px;
    }
    #about .wrapper .end h2 {
        font-size: 22px;
    }
}