* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "poppinslight","poppinsbold",'poppinsextrabold','poppinsextralight','poppinsbold';
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family:"poppinslight","poppinsbold",'poppinsextrabold','poppinsextralight','poppinsbold';
	font-weight: 500;
}

a{
	color: #fff;
}
a:hover{
    text-decoration: underline;
}
img{
    display: block;
    width: 100%;
}
p{
	line-height:1.6em;
	font-size: 18px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
    padding: 0px;
}
img{
    width: 100%;
    display: block;
}
h3{
    font-size: 45px;
    font-weight: bolder;
}



@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsextrabold';
    src: url('../fonts/poppins-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsextralight';
    src: url('../fonts/poppins-extralight-webfont.woff2') format('woff2'),
         url('../fonts/poppins-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


#home { 
overflow: hidden;
}
#home .wrapper header { 
    background: blue;
    width: 100%;
    height: 100px;
    padding: 10px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative; 
    z-index: 10  
}
#home .wrapper header .left { 
    width: 15%;
}
#home .wrapper header .middle ul { 
    display: flex;
    
}
#home .wrapper header .middle ul li { 
    margin-right: 25px;
    display: inline-block;
}
#home .wrapper header .middle ul li a { 
    color: #fff; 
}
#home .wrapper header .right .button { 
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    transition:color 0.3s, box-shadow 0.3s;   
}
#home .wrapper header .right .button:hover{
    color:#404eed;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-left: 550px;
    cursor: pointer;
    display: none; 
}
#check{
    display: none; 
} 
#home .wrapper #spotlight { 
    background-color: blue;
    height: 75vh;
    padding-top: 100px;
    position: relative;
}
#home .wrapper #spotlight .wrapper h1 { 
text-align: center;
  font-size: 75px;
  font-weight: bolder;
  color: #fff;
}
#home .wrapper #spotlight .wrapper p { 
    text-align: center;
    margin-top: 25px;
    color: #fff;
}
#home .wrapper #spotlight .wrapper ul { 
    display: flex;
  align-items: center;
  justify-content: center;
}
#home .wrapper #spotlight .wrapper ul li { 
    margin-right: 20px;
    margin-top: 30px;
}
#home .wrapper #spotlight .wrapper ul li.white .button { 
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    color: #000;
    cursor: pointer;
    transition:color 0.3s, box-shadow 0.3s;
}
#home .wrapper #spotlight .wrapper ul li.white .button:hover{
    color: #404eed;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
#home .wrapper #spotlight .wrapper ul li .button img { 
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
#home .wrapper #spotlight .wrapper ul li.black .button{
    padding: 15px 25px;
    background-color: #000;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    transition:color 0.3s, box-shadow 0.3s;
}
#home .wrapper #spotlight .wrapper ul li.black .button:hover{
    background-color: #363131;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
#home .wrapper #spotlight .wrapper .img-container div.star { 

        width: 72%;
        top: 60px;
        position: absolute;
        left: 213px;
}
#home .wrapper #spotlight .wrapper .img-container div.one { 
   
        width: 44%;
        position: absolute;
        top: 202px;
        right: 1048px;
}
#home .wrapper #spotlight .wrapper .img-container div.two { 
        width: 40%;
        position: absolute;
        top: 187px;
        left: 1070px;
}
#home .wrapper #feature .wrapper .content { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 130px;
    margin-left: 150px;
    margin-right: 150px;
}
#home .wrapper #feature .wrapper .content .left { 
    width: 60%;
    margin-right: 30px; 
}
#home .wrapper #feature .wrapper .content .right { 
    width: 35%; 
}
#home .wrapper #feature .wrapper .content .right h3 { 
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 25px;
}
#home .wrapper #feature .wrapper .content-bg { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 130px;
    background-color: #f6f6f6;
}
#home .wrapper #feature .wrapper .content-bg .left { 
    width: 35%;
    margin-left: 150px;
}
#home .wrapper #feature .wrapper .content-bg .left h3 { 
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 25px;
}
#home .wrapper #feature .wrapper .content-bg .right { 
    margin-right: 150px;
    width: 35%;
}
#home .wrapper #feature .wrapper .content-bg .right img { 
    width: 125%;
}
#home .wrapper #about { 
    background-color: #f6f6f6;
}
#home .wrapper #about .container { 
        padding-top: 120px;
        padding-bottom: 120px;
        margin-left: 150px;
        margin-right: 150px;
}
#home .wrapper #about .container .start { 
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
#home .wrapper #about .container .start h3 { 
    margin-bottom: 25px;
}
#home .wrapper #about .container .end { 
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
    margin-top: 100px;
    justify-content: center;
    display: flex;
    position: relative;
}

#home .wrapper #about .container .end h2 { 
    margin-bottom: 35px;
    font-weight: bolder;
    font-size: 35px;

}

#home .wrapper #about .container .end .button { 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    transition:color 0.3s, box-shadow 0.3s;
    background-color: #404eed;
}
#home .wrapper #about .container .end .button:hover{
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    
}
#home .wrapper #about .container .end .button img { 
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#home .wrapper #about .container .end div.star { 
    position: absolute;
    width: 50%;
}





#home .wrapper footer { 
    background-color: #23272a;
    height: 95vh;
}

#home .wrapper footer .wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
}
#home .wrapper footer .wrapper .top { 
    display: flex;
    margin-bottom: 25px;
    
}

#home .wrapper footer .wrapper .top .left{
    width: 15%;
}

.dropdown {
    position: relative;
    margin-bottom: 35px;
    
}
  .dropdown .dropbtn {
    background-color: #23272a;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5%;
}

  .dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 5%;
  }

  .dropdown-content img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  vertical-align: middle;
  }

  button.dropbtn img{
    display: block;
    width: 15%;
    margin-right: 15px;
  }
  
  button.dropbtn img.arrow{
    display: block;
    width: 10%;
    margin-left: 15px;
  }

#home .wrapper footer .wrapper .top .left ul { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#home .wrapper footer .wrapper .top .right { 
    display: flex;
    width: 50%;
    margin-left: 260px;
}
#home .wrapper footer .wrapper .top .right .item h4 { 
   margin-bottom: 25px;
    color:#5865f2;
}
#home .wrapper footer .wrapper .top .right .item  {
    margin-right: 50px; 
    
}
#home .wrapper footer .wrapper .top .right .item ul li a { 
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    line-height: 30px; 
}
#home .wrapper footer .wrapper .top .right .item ul li a:hover{
    text-decoration: underline;
}
.bottom { 
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-top:1px solid #404eed ;
   padding-top: 50px;
}
.bottom .left { 
    width: 8%;
}
.bottom .right  { 
 
 margin-right: 255px;
}
.bottom .right .button{
    padding: 15px 25px;
    background-color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    transition:color 0.3s, box-shadow 0.3s;
    background-color: #404eed; 
    font-size: 13px;
}


@media screen and (max-width: 1440px){
    #home .wrapper #spotlight .wrapper .img-container div.one {
        width: 41%;
        top: 178px;
        right: 1030px;  
    }
    #home .wrapper #spotlight .wrapper .img-container div.two {
    width: 40%;
    top: 143px;
    left: 1032px;
    }
    #home .wrapper footer {
        height: 105vh;
      }
}


@media screen and (max-width: 1280px){
    #home .wrapper #spotlight .wrapper .img-container div.one {
        width: 40%;
        top: 218px;
        right: 939px;
    }
    #home .wrapper #spotlight .wrapper .img-container div.two {
        top: 203px;
        left: 925px;
        width: 37%;
    }
}

    
@media screen and (max-width: 1080px){
    #home .wrapper header  {
        padding: 10px 75px;
    }
    #home .wrapper #spotlight {
        padding-top: 50px;
    }
    #home .wrapper #spotlight .wrapper ul li{
        margin-right: 5px;
    }
    #home .wrapper #spotlight .wrapper ul li.black .button {
        padding: 12px 15px;
    }
    #home .wrapper #spotlight .wrapper ul li.white .button {
        padding: 12px 15px;
    }
    #home .wrapper #spotlight .wrapper .img-container div.star {
        display: none;
    }      
    #home .wrapper #spotlight .wrapper .img-container div.one {
        top: 259px;
        right: 770px;
        width: 40%; 
    }
    #home .wrapper #spotlight .wrapper .img-container div.two {
        top: 246px;
        left: 758px;
    }
    #home .wrapper #about .container {
        margin-left: 60px;
        margin-right: 60px;
    }
    #home .wrapper #about .container .start {
        text-align: center;
        margin-left: 70px;
        margin-right: 70px;
    }
    #home .wrapper footer .wrapper {
      margin-left: 60px;
      margin-right: 60px;
    }
    .bottom {
        padding-top: 40px;
    }
    .bottom .right {
        margin-right: 173px;
    }
}
    
    
@media screen and (max-width: 980px){
    #home .wrapper header{
        position: fixed;
    }
    #home .wrapper #spotlight .wrapper .img-container div.star {
        display: none;
    }
    #home .wrapper #spotlight .wrapper .img-container div.two {
        display: none;
    }
    .checkbtn{
        display: block;
    }
    .middle ul{
        position: fixed;
        width: 100%;
        height: 87vh;
        background: blue;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 10; 
        flex-direction: column;
    }
    .middle ul li{
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #home .wrapper #spotlight {
        height: 98vh;
        padding-top: 140px;
    }
    #home .wrapper #spotlight .wrapper h1 {
        text-align: start;
        font-size: 65px;
        margin-left: 72px;
    } 
    #home .wrapper #spotlight .wrapper p {
        text-align: start;
        margin-left: 72px;
    }
    #home .wrapper #spotlight .wrapper ul {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 72px;
    }
    #home .wrapper #spotlight .wrapper .img-container div.one {
        top: 297px;
        right: 107px;
        width: 66%;
    }
    #home .wrapper footer .wrapper .top .right {
    margin-left: 160px;
    }
    .bottom .right {
        width: 11%;
    }      
    #home .wrapper footer {
    height: 105vh;
    }
    .bottom .left{
        width: 11%;
    }

    .bottom .right {
        margin-right: 133px;
    }
}


@media screen and (max-width: 768px){
    .checkbtn{
        margin-left: 315px;
    }
    #home .wrapper header .left {
        width: 22%;
    }
    #home .wrapper #spotlight .wrapper h1 {
        font-size: 50px;
    }
    #home .wrapper #spotlight .wrapper p{
        font-size: 15px;
    }
    #home .wrapper #spotlight .wrapper .img-container div.one {
        top: 345px;
        right: 14px;
        width: 72%;
    }
    #home .wrapper #feature .wrapper .content{
        display: block;
        margin-left: 80px;
    }
    #home .wrapper #feature .wrapper .content .left {
        width: 120%;
    }
    #home .wrapper #feature .wrapper .content .right {
        width: 110%;
        margin-top: 40px;
    }
    #home .wrapper #feature .wrapper .content-bg{
        display: block;
    }
    #home .wrapper #feature .wrapper .content-bg .right {
        width: 60%;
        margin-left: 80px;
    }
    #home .wrapper #feature .wrapper .content-bg .left {
        width: 75%;
        margin-left: 80px;
        margin-bottom: 40px;
    }
    #home .wrapper #about .container .start{
        margin-left: 10px;
        margin-right: 10px;
    }
    #home .wrapper footer .wrapper .top .left {
      width: 20%;
    
    }
    #home .wrapper footer .wrapper .top .right{
        flex-wrap: wrap;
        margin-left: 169px;
    }
    #home .wrapper footer {
        height: 130vh;
    }
    .bottom .right {
        width: 20%;
    }
}


@media screen and (max-width: 640px){
    #home .wrapper header .left {
        width: 28%;
    }
    .checkbtn {
        margin-left: 210px;
    }
    #home .wrapper #spotlight .wrapper .img-container div.one{
        display: none;
    }
    #home .wrapper #spotlight .wrapper h1 {
        font-size: 59px;
    }
    #home .wrapper #spotlight .wrapper p {
        font-size: 21px;
    }
    #home .wrapper footer .wrapper .top{
        display: block;
    }
    #home .wrapper footer .wrapper .top .left {
        width: 40%;
        margin-bottom: 35px;
    }
    #home .wrapper footer .wrapper .top .right{
        margin-left: 0px;
        width: 100%;
    }
    #home .wrapper footer .wrapper .top .right .item {
        margin-right: 100px;
    }
    #home .wrapper footer {
        height: 150vh;
    }
    .bottom .left {
        width: 16%;
    }
}


@media screen and (max-width: 540px){
    #home .wrapper header .left {
        width: 32%;
    }
    .checkbtn {
        margin-left: 115px;
    }
    #home .wrapper #spotlight .wrapper h1 {
        font-size: 47px;
    }
    #home .wrapper #spotlight .wrapper p {
        font-size: 17px;
        margin-right: 10px;
    }
    #home .wrapper #feature .wrapper .content .right h3 {
        font-size: 37px
    }
    #home .wrapper #feature .wrapper .content-bg .left h3 {
        font-size: 37px
    }
    #home .wrapper #about .container .start h3{
        font-size: 43px;
    }
    #home .wrapper #about .container .end h2{
        font-size: 28px;
    }


}